.Header {
  background: rgb(51, 48, 48);
  display: flex;
  padding: 1rem;
  margin-bottom: 10rem;
  flex-wrap: wrap;
}

h1 {
  margin: 0 10rem ;
  color: white;
}

.links {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.link {
  color: white;
  text-decoration:none;
  transition: all .25s;
  font-weight: bold;
}

.link:hover {
  transform: scale(1.15);
  cursor: pointer;
}
