@import "./styles/normalize.css";
@import "./styles/base-settings.css";
@import "./styles/global-var-settings.css";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
